{% extends 'base.html' %} {% block title %} Add Property {% endblock %} {% block body %}
<div class="col-md-12">
  <form
    id="TypeValidation"
    class="form-horizontal"
    method="post"
    novalidate="novalidate"
  >
    {% csrf_token %}
    <div class="card">
      <div
        class="card-header card-header-rose card-header-text"
        style="font-size: 20px"
      >
        <div class="card-text" style="padding-left: 0px">
          <a href=" " class="card-header card-header-rose card-header-text">
            <i class="material-icons">roofing</i> Add Property
          </a>
        </div>
      </div>

      <div class="card-body">
        <br />
        {% comment %} Row1 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label">Owner Name*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.owner_name }}
              {% if form.owner_name.errors %}
              {% for error in form.owner_name.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Property Name*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.property_name }}
              {% if form.property_name.errors  %}
              {% for error in form.property_name.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        {% comment %} Row2 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="EntityID"
            >Entity Name*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{form.entity}}
              {% if form.entity.errors  %}
              {% for error in form.entity.errors %}
              <small style="color: red">{{ error }}</small>
            {% endfor %}
            {% endif %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Address1*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.address1 }}
              {% if form.address1.errors  %}
              {% for error in form.address1.errors %}
              <small style="color: red">{{ error }}</small>
            {% endfor %}
            {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">Address2*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.address2 }}
              {% if form.address2.errors  %}
              {% for error in form.address2.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">City*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.city }}
              {% if form.city.errors  %}
              {% for error in form.city.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">Zip or Postal*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.po_box }}
              {% if form.po_box.errors  %}
              {% for error in form.po_box.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">State*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.state }}
              {% if form.state.errors  %}
              {% for error in form.state.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        {% comment %} Row5 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label">Country*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.country }}
              {% if form.country.errors  %}
              {% for error in form.country.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Email*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.email }}
              {% if form.email.errors  %}
              {% for error in form.email.errors %}
              <small style="color: red">{{ error }}</small>
            {% endfor %}
            {% endif %}
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">Contact No.*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.contact_no }}
              <small style="color: #b6b6b6">
                {{ form.contact_no.help_text }}
              </small>
              {% if form.contact_no.errors  %}
              {% for error in form.contact_no.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
              
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Location*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.location }}
              {% if form.location.errors.count >= 0  %}
              {% for error in form.location.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
              {% endif %}
            
            </div>
          </div>
        </div>

        <br />
        <button class="btn btn-rose btn-round float-right" type="Submit">
          <i class="material-icons">near_me </i> Submit
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
