{% extends 'base.html' %} {% block title %} Add Entity {% endblock title %} 
{% block body %}

<div class="col-md-12">
  <form
    id="TypeValidation"
    class="form-horizontal"
    method="post"
    novalidate="novalidate"
  >
    {% csrf_token %}
    <div class="card">
      <div class="card-header card-header-rose card-header-text">
        <a href="{% url 'add_entity' %}"
          ><div class="card-text">
            <h4 class="card-title ">
              <i class="material-icons">person</i> Add Entity
            </h4>
          </div></a
        >
      </div>

      <div class="card-body">
        <br />
        <div class="row">
          <label class="col-sm-2 col-form-label">Entity Name*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.entity_name }}
              {% for error in form.entity_name.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Contact No.*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.contact_no }}
              <small style="color: #b6b6b6">
                {{ form.contact_no.help_text }}
                {% for error in form.contact_no.errors %}
                  <p style="color: red" class="m-0 p-0">{{ error }}</p>
                {% endfor %}
              </small>

            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label">Address1*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.address1 }}
              {% for error in form.address1.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Address2*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.address2 }}
              {% for error in form.address2.errors %}
              <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">City*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.city }}
              {% for error in form.city.errors %}
              <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Zip or Postal*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.po_box }}
              {% for error in form.po_box.errors %}
              <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">State*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.state }}</div>
          </div>
          <label class="col-sm-2 col-form-label">Country*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.country }}</div>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-2 col-form-label">Email*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.email }}
              {% for error in form.email.errors %}
              <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.desc }}</div>
          </div>
        </div>

        <br />
        <button class="btn btn-rose btn-round float-right" type="Submit">
          <i class="material-icons">near_me </i> Submit
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
