{% extends 'base.html' %} {% load static %} {% block title %} Entity Overview {% endblock title %}
{% block body %}
<div class="alert alert-success alert-dismissible fade show" style="display: none;" role="alert">
  <span class="message"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon" style="padding-left: 1px">
          <a
            href=" {% url 'entity_overview'%} "
            class="card-header card-header-rose card-header-text"
            style="font-size: 20px"
          >
            <i class="material-icons">person</i> Entity Overview
          </a>
        </div>
        <div
          class="card-icon float-right"
          style="
            padding: 0.5em 0;
            font-size: 1rem;
          "
        >
          <a
            href=" {% url 'add_entity'%} "
            class="card-header card-header-rose card-header-text"
          >
            <i class="material-icons">add</i>Add Entity
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
          <table
            id="datatables"
            class="table table-striped table-no-bordered table-hover"
            cellspacing="0"
            width="100%"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Entity Name</th>
                <th>Contact</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th class="disabled-sorting text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% if entities %} {% for entity in entities %}
              <tr>
                <td>{{entity.entity_name}}</td>
                <td>{{entity.contact_no}}</td>
                <td>{{entity.city}}</td>
                <td>{{entity.state}}</td>
                <td>{{entity.get_country_display }}</td>
                <td class="text-right">
                  <a
                    href=" {% url 'property_overview' entity.entity_name %} "
                    class="d-inline"
                    title="View properties"
                    rel="tooltip"
                  >
                    <div class="ripple-container success"></div>
                    <i
                      class="material-icons"
                      style="
                        margin-right: 08px;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        color: #5b93f6;
                      "
                      >location_city</i
                    >
                  </a>
                  <a
                    href="{% url 'view_entity'  entity.pk %}"
                    class="d-inline"
                    rel="tooltip"
                    data-original-title="Remove"
                    title="View entities"
                  >
                    <div class="ripple-container success"></div>
                    <i
                      class="material-icons"
                      style="
                        margin-right: 10px;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        color: #ff9800;
                      "
                      >dvr</i
                    >
                  </a>

                  <a
                    href="{% url 'update_entity' entity.pk %}"
                    class="d-inline"
                    title="Update entity"
                    rel="tooltip"
                  >
                    <div class="ripple-container success"></div>
                    <i
                      class="material-icons"
                      style="
                        margin-right: 5px;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        color: #4caf50;
                      "
                      >create</i
                    >
                  </a>
                {% if request.user.is_superuser %}
                <a
                    href="#"
                    class="d-inline delete-item btn-delete"
                    title="Delete unit"
                    rel="tooltip"
                    data-target="#deleteToggle"
                    data-toggle="modal"
                    data-pk="{{entity.pk}}" data-name="{{ entity.entity_name }}"
                  >
                    <i
                      class="material-icons"
                      style="
                        margin-right: 5px;
                        margin-top: 10px;
                        margin-bottom: 20px;
                        color: #c55d55;
                      "
                      >delete</i
                    >
                    <div class="ripple-container"></div>
                </a>
                {% endif %}
                    
              </td>
            </tr>
              {% endfor %}
              {% else %} 
              <tr class="text-center"><td colspan="6">No Entity</td></tr> 
              {% endif %}
            </tbody>
          </table>
          <div class="modal fade" id="deleteToggle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-top" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                  <button type="button" class="close p-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                  <a href="" type="button" class="btn btn-danger confirmation" data-dismiss="modal">Yes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
  </div>
  <!-- end col-md-12 -->
</div>
<!-- end row -->

{% block entity_overview %}
  <script src="{% static 'js/entity_overview.js' %}"></script>
{% endblock %}
  
{% endblock body %}
