{% extends 'base.html' %} {% block body %}
<div class="col-md-12">
  
    <div class="card">
      <br />
      <div class="row">
        <div class="col-md-12">
          <h4 class="alert alert-info">Update Category Type</h4>
          <form id="TypeValidation" class="form-horizontal" method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="card-body">
              <br />
              {% comment %} Row1 {% endcomment %}
              <div class="row">
                <label class="col-sm-3 col-form-label">Category Type*</label>
                <div class="col-sm-6">
                  <div class="form-group bmd-form-group">
                    <input
                      style="background-color: #ffffff; margin-bottom: 30px"
                      class="form-control"
                      value="{{category_type.cat_type}}"
                      type="text"
                      id="cat_type"
                      name="cat_type"
                      required="true"
                      aria-required="true"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-form-label" for="desc"
                  >Description*</label
                >
                <div class="col-sm-6">
                  <div class="form-group bmd-form-group">
                    <input
                      style="background-color: #ffffff"
                      class="form-control"
                      value="{{category_type.desc}}"
                      type="text"
                      id="desc"
                      name="desc"
                      required="true"
                      aria-required="true"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="submit"
                class="btn btn-success btn-round float-right"
                value="Update"
                style="
                  margin-right: 13px;
                  margin-bottom: 20px;
                  margin-top: 20px;
                "
              />
              <a
                href="{% url 'add_category_type'%}"
                class="btn btn-info btn-round float-right"
                style="margin-bottom: 20px; margin-top: 20px"
              >
                Close
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock body %}
