{% extends 'base.html' %} {% block body %}
<div class="col-md-12">
  <form
    id="TypeValidation"
    class="form-horizontal"
    action=" "
    method="post"
    novalidate="novalidate"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="card">
      <br />
      <div class="row">
        <div class="col-sm-12 offset-0">
          <h4 class="alert alert-info">Unit</h4>
          <form
            id="TypeValidation"
            class="form-horizontal"
            action=" "
            method="post"
            novalidate="novalidate"
          >
            {% csrf_token %}
            <div class="card-body">
              <div class="row">
                <label class="col-sm-2 col-form-label" for="PropID"
                  >Property Name*</label
                >
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                   {{ form.property_id }}
                  </div>
                </div>
                <label class="col-sm-2 col-form-label" for="PrtTypID"
                  >Property Type*</label
                >
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.property_type }}
                  </div>
                </div>
              </div>
              {% comment %} Row2 {% endcomment %}
              <div class="row">
                <label class="col-sm-2 col-form-label">Flat No.*</label>
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.flat }}
                  </div>
                </div>
                <label class="col-sm-2 col-form-label" for="OwnerTypeID"
                  >Ownership Type*</label
                >
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.ownership_type }}
                  </div>
                </div>
              </div>

              {% comment %} Row3 {% endcomment %}
              <div class="row">
                <label class="col-sm-2 col-form-label">Rental Amount*</label>
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.rent_amount }}
                  </div>
                </div>
                <label class="col-sm-2 col-form-label">Size (SqFt)*</label>
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.size }}
                  </div>
                </div>
              </div>
              {% comment %} Row4 {% endcomment %}
              <div class="row">
                <label class="col-sm-2 col-form-label" for="OccupancyTypeID"
                  >Occupancy*</label
                >
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                   {{ form.occupancy_type }}
                  </div>
                </div>

                <label class="col-sm-2 col-form-label">No. of Bedrooms*</label>
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.bedrooms }}
                  </div>
                </div>
              </div>

              {% comment %} Row5 {% endcomment %}
              <div class="row">
                <label class="col-sm-2 col-form-label">No. of Bathrooms*</label>
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                   {{ form.bathrooms }}
                  </div>
                </div>
                <label class="col-sm-2 col-form-label">Parking*</label>
                <div class="col-sm-4">
                  <div class="form-group bmd-form-group">
                    {{ form.parking }}
                  </div>
                </div>
              </div>

              {% comment %} Row6 {% endcomment %}
              <div class="row">
                <label class="col-sm-2 col-form-label">Description*</label>
                <div class="col-sm-10">
                  <div class="form-group bmd-form-group">
                   {{ form.desc }}
                  </div>
                </div>
              </div>
             
            </div>
             <div class="modal-footer">
                <input
                  type="submit"
                  class="btn btn-success btn-round float-right"
                  value="Update"
                  style="
                    margin-right: 13px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                  "
                />
                <a
                  href="{% url 'property_unit_overview' unit.property_id.pk %}"
                  class="btn btn-info btn-round float-right"
                  style="margin-bottom: 20px; margin-top: 20px"
                >
                  Close
                </a>
              </div>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
