{% extends 'base.html' %} {% block body %}
<div class="col-md-12">
  <div class="card">
    <br />
    <div class="row">
      <div class="col-sm-12 offset-0">
        <h4 class="alert alert-info">Update Property</h4>
        <!-- Changed by patrick 26.11.20 -->
        <form
          id="TypeValidation"
          class="form-horizontal"
          action=" "
          method="post"
          novalidate="novalidate"
        >
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              <label class="col-sm-2 col-form-label">Owner name*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.owner_name }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Entity*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.entity }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Property name*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.property_name }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">City*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.city }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Address one*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.address1 }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Address two(Optional)</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.address2 }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Postal Code*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.pobox }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">State/Province*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.state }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">E-mail address*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.email }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Contact number*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.contact_no }}
                </div>
              </div>
              <label class="col-sm-2 col-form-label">Location*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.location }}
                </div>
              </div>
                <label class="col-sm-2 col-form-label">Country*</label>
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  {{ form.country }}
                </div>
              </div>
           

              <div class="modal-footer" style="float: right; width: 100%">
                <input
                  type="submit"
                  class="btn btn-success btn-round float-right"
                  value="Update"
                  style="
                    margin-right: 13px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                  "
                />
                <a
                  href="{% url 'property_overview' property.entity.entity_name %}"
                  class="btn btn-info btn-round float-right"
                  style="margin-bottom: 20px; margin-top: 20px"
                >
                  Close
                </a>
              </div>
            </div>
          </div>
        </form>
        <!-- Changed by patrick 26.11.20 -->
      </div>
    </div>
  </div>
</div>
{% endblock body %}
