{% extends 'base.html' %} {% block body %}
<div class="col-md-12">
    <div class="card">
      <br />
      <div class="row">
        <div class="col-sm-12">
          <h4 class="alert alert-info">Property Type Details</h4>
            <form id="TypeValidation" class="form-horizontal" action=" " method="post" novalidate="novalidate">
   
            {% csrf_token %}
            <div class="card-body">
              <br />
             <!-- # Code refactored - 26-11-2020 10.00PM- Patrick -->
              {% for field in form %}
              <div class="row">
               
                {% if field.name == "category" %}
                <label class="col-sm-3 col-form-label">{{ field.label }}*</label>
                <div class="col-sm-6">
                  <div class="form-group bmd-form-group">
                    <select
                      class="form-control"
                      type="text"
                      id="{{ field.id }}"
                      name="{{ field.name }}"
                      required="true"
                      aria-required="true"
                      disabled
                    >
                      {% for category in categories %}
                      <option selected value="{{category.id}}">
                        {{category.cat_type}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% else %}
                 <label class="col-sm-3 col-form-label">{{ field.label }}*</label>
                <div class="col-sm-6">
                  <div class="form-group bmd-form-group">
                    <input
                      class="form-control"
                      value="{{ field.value }}"
                      type="text"
                      id="{{ field.id }}"
                      name="{{ field.name }}"
                      required="true"
                      aria-required="true"
                      disabled
                    />
                  </div>
                </div>
                {% endif %} 
              </div>
              {% endfor %}
            </div>
            <br />
            <div class="modal-footer">
              <a
                href="{% url 'add_property_type'%}"
                class="btn btn-info btn-round float-right"
                style="margin-bottom: 20px; margin-top: 20px"
              >
                Back
              </a>
            </div>
            {% comment %}
            <a
              href=""
              class="btn btn-info btn-round float-right"
              style="margin-bottom: 30px; margin-top: 30px; margin-right: 280px"
            >
              Back
            </a>
            <input
              type="submit"
              class="btn btn-success btn-round float-right"
              value="Update"
              style="margin-right: 13px"
            />
            {% endcomment %}
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock body %}
