{% extends 'base.html' %} {% block body %}
<div class="col-md-12">
  <div class="card">
    <br />
    <div class="row">
      <div class="col-sm-12 offset-0">
        <h4 class="alert alert-info">Unit Details</h4>
        <form
          id="TypeValidation"
          class="form-horizontal"
          novalidate="novalidate"
        >
          {% csrf_token %}
          <div class="card-body">
            <div class="row">
              {% for field in form %}
              <label class="col-sm-2 col-form-label">{{ field.label }}*</label>

              {% if field.name == 'property_id' %}
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <select
                    class="form-control"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  >
                    <option selected>Select property name</option>

                    <option selected value="{{field.value}}">
                      {{ unit.property_id.property_name}}
                    </option>
                  </select>
                </div>
              </div>

              {% elif field.name == 'property_type' %}
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <select
                    input
                    class="form-control"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  >
                    <option selected>Select property type</option>
                    <option selected value="{{field.value}}">
                      {{unit.property_type.property_type}}
                    </option>
                  </select>
                </div>
              </div>

              {% elif field.name == 'ownership_type' %}
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <select
                    input
                    class="form-control"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  >
                    <option selected>Select ownership type</option>
                    <option selected value="{{field.value}}">
                      {{unit.ownership_type.ownership_type}}
                    </option>
                  </select>
                </div>
              </div>

              {% elif field.name == 'occupancy_type' %}
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <select
                    input
                    class="form-control"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  >
                    <option selected>Select occupancy type</option>
                    <option selected value="{{field.value}}">
                      {{unit.occupancy_type.occupancy_type}}
                    </option>
                  </select>
                </div>
              </div>

              {% else %}

              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <input
                    class="form-control"
                    value="{{ field.value }}"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  />
                </div>
              </div>
              {% endif %} {% endfor %}

              <div class="modal-footer" style="float: right; width: 100%">
                <a
                  href="{% url 'property_unit_overview' unit.property_id.pk %}"
                  class="btn btn-info btn-round float-right"
                  style="margin-bottom: 20px; margin-top: 20px"
                >
                  Back
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
