{% extends 'base.html' %} {% block title %} Tenant Contract {% endblock title %}
{% block body %} {% load static %}
<div class="col-md-12">
  <form
    id="TypeValidation"
    class="form-horizontal"
    method="post"
    novalidate="novalidate"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="card">
      <div
        class="card-header card-header-rose card-header-text"
        style="font-size: 20px"
      >
        <div class="card-text">
          <a href=" " class="card-header card-header-rose card-header-text">
            <i class="material-icons">roofing</i> Tenant Contract
          </a>
        </div>
      </div>

      <div class="card-body">
        <br />
        {% comment %} Row1 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="TenantID">Tenant*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input class="form-control" value="{{ tenant }}" disabled />
              <small style="display: none">{{ form.tenant }}</small>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 col-form-label" for="PropID"
            >Property Name*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input value="{{ property }}" class="form-control" disabled>
              <small style="display: none">{{ form.property_id }}</small>
            </div>
          </div>
          <label class="col-sm-2 col-form-label" for="UnitID">Unit*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input value="{{ unit }}" class="form-control" disabled>
              <small style="display: none">{{ form.unit }}</small>
            </div>
          </div>
        </div>
        {% comment %} Row2 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="ContractNo"
            >Contract No.*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.contract_no }}</div>
              <small style="color: red">{{ form.tenant.error }}</small>
          </div>
          <label class="col-sm-2 col-form-label" for="StartDate"
            >Start Date*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.start_date }}
              
              {% for error in form.start_date.errors %}
                <small style="color: red;">{{ error }}</small>
              {% endfor %}
                
            </div>
            
          </div>
        </div>

        {% comment %} Row3 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="EndDate">End Date*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.end_date }}</div>
            {% for error in form.end_date.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
          </div>
          <label class="col-sm-2 col-form-label" for="Discount"
            >Discount*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.discount }}
              {% for error in form.discount.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
        </div>
        {% comment %} Row4 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="AnnualRent"
            >Annual Rent*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.annual_rent }}
              {% for error in form.annual_rent.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>

          <label class="col-sm-2 col-form-label" for="SecurityDep"
            >Security Deposit*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.security_dep }}
             {% for error in form.security_dep.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
        </div>

        {% comment %} Row5 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="Commission"
            >Commission*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.commission }}
               {% for error in form.commission.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>

          <label class="col-sm-2 col-form-label" for="Installments"
            >Installments*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              {{ form.installments }}
            {% for error in form.installments.errors %}
                <small style="color: red">{{ error }}</small>
              {% endfor %}
            </div>
          </div>
        </div>

        {% comment %} Row6 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="Remark">Remark*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">{{ form.remark }}</div>
          </div>
          <div class="col-sm-4 mt-4">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="sms_notify">
                {{ form.sms_notify }} SMS Notification
                <span class="form-check-sign" style="left: 146px">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <div class="form-check form-check-inline" style="left: 34px">
              <label class="form-check-label" for="email_notify">
                {{ form.email_notify }} Email Notification
                <span class="form-check-sign" style="left: 146px">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </div>
          <br />
          <hr />
        </div>
        <button class="btn btn-rose btn-round float-right mt-5" type="Submit">
          <i class="material-icons">near_me </i> Submit
          <div class="ripple-container"></div>
        </button>
        <br />
      </div>
    </div>
  </form>
</div>
{% endblock body %}
