@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;500;600;700&display=swap");
@import url("../font.css");

:root {
  --primary-clr: #5f497aff;
}

body {
  font-family: "TRAvalon" !important;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
}

.center {
  padding: 0 20px;
}

h5,
h6 {
  font-weight: 500;
  font-size: 13px !important;
}

h4 {
  font-weight: bold;
  font-size: 13px !important;
}

p {
  font-weight: 300;
  font-size: 13px !important;
}

strong,
b,
span {
  font-size: 13px !important;
}

/* BTN */
.btn-primary-2 {
  display: inline-block;
  border: 1px solid;
  padding: 7px 12px;
  text-decoration: none;
  background: var(--primary-clr);
  color: #fff;
  border-radius: 5px;
}

/* New Styles */

.detail_row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.detail__heading {
  font-weight: bold;
}

.colon {
  font-weight: bold;
}

.report-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.propert_detail_left,
.propert_detail_right {
  width: 30%;
}

.top__section_first strong,
.top__section_first b {
  font-size: 1rem;
  font-weight: bold;
}

header {
  background-color: #5f497aff;
  color: white;
  padding: 30px 0;
}

.line {
  border-top: 5px solid #5f497aff;
  margin-bottom: 2rem;
}

.container1 {
  width: 100%;
  margin: auto;
}

th {
  font-family: "Bitter";
}
th {
  font-size: 13px !important;
}
td {
  font-size: 11px !important;
}

.d-grid-custom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

img {
  width: 120px;
  height: 120px;
}

.content {
  text-align: center;
  font-size: 1.45rem;
}

.top__section_first {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.top__section_second {
  display: flex;
  justify-content: space-between;
}

.propert_details {
  display: flex;
  justify-content: space-between;
  margin: 0.4em 0 1.5em;
}

.row2 {
  margin: 0 4em;
}

.top__section_third {
  border-top: 8px solid #5f497aff;
  border-bottom: 8px solid #5f497aff;
  margin-top: 20px;
}
.table__custom {
  margin-top: 10px;
}

.table__custom_style {
  width: 100%;
  text-align: left;
}
.custom {
  font-family: "Bitter";
}
th,
td {
  padding: 10px 0 20px;
}

td {
  font-weight: bold;
  font-size: 0.9rem;
}

th {
  font-size: 1.1rem;
}

.signature {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.signature span {
  font-size: 11px !important;
}

.signature_head {
  display: flex;
}
.signature_head > span:first-child {
  font-weight: bold;
}

.actual_signature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 215px;
  margin: 1rem 0;
}

.actual_signature > span {
  font-weight: bold;
}
.actual_signature_img {
  height: 50px;
  width: 50px;
}
.actual_signature_img img {
  height: 100%;
  max-width: 100%;
}
