{% extends 'base.html'' %} {% block title %} Add_Unit {% endblock title %} {%
block body %} {% load static %}
<div class="col-md-12">
  <form
    id="TypeValidation"
    class="form-horizontal"
    action="/Add_Unit"
    method="post"
    novalidate="novalidate"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="card">
      <div
        class="card-header card-header-rose card-header-text"
        style="font-size: 20px"
      >
        <div class="card-text">
          <a
            href=" {% url 'Add_Unit'%} "
            class="card-header card-header-rose card-header-text"
          >
            <i class="material-icons">roofing</i> Add_Unit
          </a>
        </div>
      </div>

      <div class="card-body">
        <br />
        {% comment %} Row1 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="PropID"
            >Property Name*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <select
                input
                class="form-control"
                type="text"
                id="PropID"
                name="PropID"
                required="true"
                aria-required="true"
              >
                <option selected>Select Property</option>
                {% for temp in ADPRPRTY %}
                <option value="{{temp.id}}">{{temp.property_name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <label class="col-sm-2 col-form-label" for="PrtTypID"
            >Property Type*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <select
                input
                class="form-control"
                type="text"
                id="PrtTypID"
                name="PrtTypID"
                required="true"
                aria-required="true"
              >
                <option selected>Select Property Type</option>
                {% for temp in PT %}
                <option value="{{temp.id}}">{{temp.PrtType}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% comment %} Row2 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label">Flat No.*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="text"
                id="flat"
                name="flat"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
          <label class="col-sm-2 col-form-label" for="OwnerTypeID"
            >Ownership Type*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <select
                input
                class="form-control"
                type="text"
                id="OwnerTypeID"
                name="OwnerTypeID"
                required="true"
                aria-required="true"
              >
                <option selected>Select Ownership Type</option>
                {% for temp in OWN %}
                <option value="{{temp.id}}">{{temp.OwnershipType}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        {% comment %} Row3 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label">Rental Amount*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="text"
                id="rent_amount"
                name="rent_amount"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Size (SqFt)*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="text"
                id="size"
                name="size"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
        </div>
        {% comment %} Row4 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label" for="OccupancyTypeID"
            >Occupancy*</label
          >
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <select
                input
                class="form-control"
                type="text"
                id="OccupancyTypeID"
                name="OccupancyTypeID"
                required="true"
                aria-required="true"
              >
                <option selected>Select Occupancy</option>
                {% for temp in OPTY %}
                <option value="{{temp.id}}">{{temp.OccupancyType}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <label class="col-sm-2 col-form-label">No. of Bedrooms*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="number"
                id="bedrooms"
                name="bedrooms"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
        </div>

        {% comment %} Row5 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label">No. of Bathrooms*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="number"
                id="bathrooms"
                name="bathrooms"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
          <label class="col-sm-2 col-form-label">Parking*</label>
          <div class="col-sm-4">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="number"
                id="parking"
                name="parking"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
        </div>

        {% comment %} Row6 {% endcomment %}
        <div class="row">
          <label class="col-sm-2 col-form-label">Description*</label>
          <div class="col-sm-10">
            <div class="form-group bmd-form-group">
              <input
                class="form-control"
                type="text"
                id="desc"
                name="desc"
                required="true"
                aria-required="true"
              />
            </div>
          </div>
        </div>
        <br />
        <hr />
        {% comment %} *** Add image *** Start Here---20-10-2020 10.00pm- Faraz &
        Javed *** {% endcomment %}

        <div class="row">
          <div
            class="fileinput fileinput-new text-center"
            data-provides="fileinput"
          >
            <div class="fileinput-new thumbnail img-circle">
              {% for g in row.gallery_set.all %}
              <img src="{% static '/img/placeholder.jpg' %}" />
              {% endfor %}
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail"></div>
            <div>
              <span class="btn btn-round btn-rose btn-file">
                <span class="fileinput-new">Add Files</span>
                <span class="fileinput-exists">Change</span>
                <input type="hidden" /><input
                  type="file"
                  id="unitimage"
                  name="unitimage"
                  multiple
                />
                <div class="ripple-container"></div>
              </span>
              <br />
              <a
                href="#pablo"
                class="btn btn-danger btn-round fileinput-exists"
                data-dismiss="fileinput"
                ><i class="fa fa-times"></i> Remove</a
              >
            </div>
          </div>
        </div>
        {% comment %} *** Add image *** End Here---21-10-2020 01.05pm- Javed ***
        {% endcomment %} {% comment %} Row6 end {% endcomment %}

        <button class="btn btn-rose btn-round float-right" type="Submit">
          <i class="material-icons">near_me </i> Submit
          <div class="ripple-container"></div>
        </button>
        <br />
      </div>
    </div>
  </form>
</div>
{% endblock body %}
