<footer class="footer">
  <!-- <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="http://127.0.0.1:8000/dashboard#/"> NewDoor </a>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/dashboard#"> About Us </a>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/dashboard#"> Blog </a>
        </li>
        <li>
          <a href="http://127.0.0.1:8000/dashboard#"> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      2020, made with <i class="material-icons">favorite</i> by
      <a href="http://127.0.0.1:8000/dashboard#" target="_blank">NewDoor</a>
      for a better web.
    </div>
  </div> -->
</footer>
