{% extends 'base.html'' %} {% block title %} Occupancy_Type {% endblock title %} {% block body %} {% load static %}
<div class="col-md-12">
    <form id="TypeValidation" class="form-horizontal" action=" " method="post" novalidate="novalidate" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card ">
            <div class="card-header card-header-rose card-header-text"  style="font-size: 20px;">
                <div class="card-text" style="padding-left: 1px;">
                <a href=" {% url 'Occupancy_Type'%} " class="card-header card-header-rose card-header-text ">
                        <i class="material-icons ">roofing</i> Occupancy Type </a>
                </div>
            </div>

            <div class="card-body ">
                <br> {% comment %} Row1 {% endcomment %}
                
                <div class="row">
                    <label class="col-sm-2 col-form-label" for="OccupancyType">Occupancy Type*</label>
                    <div class="col-sm-4">
                        <div class="form-group bmd-form-group">
                            <input class="form-control" type="text" id="OccupancyType" name="OccupancyType" required="true" aria-required="true">
                        </div>
                    </div>
                    <label class="col-sm-2 col-form-label" for="desc">Description*</label>
                    <div class="col-sm-4">
                        <div class="form-group bmd-form-group">
                            <input class="form-control" type="text" id="desc" name="desc" required="true" aria-required="true">
                        </div>
                    </div>
                </div>
                {% comment %} Row1 end here {% endcomment %}

                <button class="btn btn-rose btn-round float-right" type=Submit>
                       <i class="material-icons">near_me </i>  Submit
                       <div class="ripple-container"></div>
                    </button>
                <br>
        
            </div>
            <hr style="
                    width: 1000px;
                    border-left-width: 35‒;
                    height: 0px;
                    margin: 0px;
                    margin-right: -20px;
                    margin-left: 0px;
                    font-weight: bold;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    border: 0;
                    border-top: 5px solid rgba(0, 0, 0, .1);"> 
{% comment %} Main form send here {% endcomment %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <h4 class="card-title">Occupancy Type Overview</h4>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <div class="material-datatables">
                                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Occupancy Type</th>
                                            <th>Description</th>
                                            <th class="disabled-sorting text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if OPTY %} 
                                        {% for TRT in OPTY %}
                                        <tr>
                                            <td scope="row">{{TRT.id}}</td>
                                            <td>{{TRT.OccupancyType}}</td>
                                            <td>{{TRT.desc}}</td>
                                            <td class="text-right">

                                                <a href="{% url 'ViewOccupancyType' TRT.id %} " method="post " class="d-inline " rel="tooltip " title=" " data-original-title="Remove ">{% csrf_token %}
                                                <div class="ripple-container success "></div>
                                                <i class="material-icons " style="margin-right: 10px; margin-top: 10px; margin-bottom: 20px; color: #ff9800;" >dvr</i>
                                                </a>
                                              

                                                <a href="{% url 'UpdateOccupancyType' TRT.id %} " method="post " class="d-inline ">{% csrf_token %}
                                                    <div class="ripple-container success "></div>
                                                    <i class="material-icons "  style="margin-right: 5px; margin-top: 10px; margin-bottom: 20px; color: #4caf50; ">create</i>
                                                </a>
                                               

                                                <a href="{% url 'DeleteOccupancyType' TRT.id %} " method="post " class="d-inline ">
                                                    {% csrf_token %}
                                                    <i class="material-icons " style="margin-right: 5px; margin-top: 10px; margin-bottom: 20px; color: #f44336; " >delete</i>
                                                    <div class="ripple-container"></div>
                                                </a>
                                                
                                            {% comment %}                                                   
                                                <a href="{% url 'UpdateDocumentsType' TRT.id %}" class="btn btn-link btn-info btn-just-icon edit" data-toggle="modal" data-target="#myModal" value='Edit'>
                                                    <div class="ripple-container"></div>
                                                    <i class="material-icons">dvr</i>
                                                </a>

                                                <a href="#" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>


                                                <a href="{% url 'UpdateDocumentsType' TRT.id %}" method="post" class="d-inline">{% csrf_token %}
                                                    <div class="ripple-container success"></div>
                                                    <i class="material-icons">dvr</i>
                                                </a>

                                                <form action="{% url 'DeleteDocumentsType' TRT.id %}" method="post" class="d-inline">{% csrf_token %}
                                                    <input type="submit" class="btn btn-danger" value='Delete'>
                                                </form> 
                                            {% endcomment %}

                                                
                                            </td>
                                        </tr>
                                        {% endfor %} {% else %} NoData {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
        </div>
    </form>
</div>

</div>
{% endblock body %}