{% load static %}
<div
  class="sidebar ps"
  data-color="rose"
  data-background-color="black"
  data-image="../assets/img/faces/avatar.jpg"
>
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a href="http://www.creative-tim.com/" class="simple-text logo-mini">ND</a>
    <a href="http://www.creative-tim.com/" class="simple-text logo-normal"
      >NewDoor</a
    >
  </div>

  <div class="sidebar-wrapper ps ps--active-y">
    <div class="user">
      <div class="photo">
        <img src="{% static '/img/faces/Javed.jpg' %}" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
          <span>
            {{ request.user.get_full_name }}
            <b class="caret"></b>
          </span>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> MP </span>
                <span class="sidebar-normal"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> EP </span>
                <span class="sidebar-normal"> Edit Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="sidebar-mini"> S </span>
                <span class="sidebar-normal"> Settings </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="nav">
      {% if request.user.profile.is_tenant or request.user.profile.is_manager %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tenant_dashboard' %} ">
          <i class="material-icons">dashboard</i>
          <p>Tenant_Dashboard</p>
        </a>
      </li>
      {% endif %} {% if request.user.profile.is_manager %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
          <i class="material-icons">image</i>
          <p>
            Entity
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="pagesExamples">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'entity_overview' %}">
                <span class="sidebar-mini"> AE </span>
                <span class="sidebar-normal"> Entity Overview </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'property_all_overview' %}">
                <span class="sidebar-mini"> EO </span>
                <span class="sidebar-normal"> Property Overview </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'unit_overview' %}">
                <span class="sidebar-mini"> UO </span>
                <span class="sidebar-normal"> Unit Overview </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_user' %}">
                <span class="sidebar-mini"> RS </span>
                <span class="sidebar-normal"> Add User </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#formsExamples">
          <i class="material-icons">grid_on</i>
          <p>
            Master Tables
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="formsExamples">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_category_type' %}">
                <span class="sidebar-mini"> CT </span>
                <span class="sidebar-normal"> Category Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_ownership_type' %}">
                <span class="sidebar-mini"> RS </span>
                <span class="sidebar-normal"> Ownership Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_property_type' %}">
                <span class="sidebar-mini"> PT </span>
                <span class="sidebar-normal"> Property Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_doc_type' %}">
                <span class="sidebar-mini"> DT </span>
                <span class="sidebar-normal"> Documents Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_payment_mode' %}">
                <span class="sidebar-mini"> PMT </span>
                <span class="sidebar-normal"> Payment Mode Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_status_request' %}">
                <span class="sidebar-mini"> SRT </span>
                <span class="sidebar-normal"> Status Request Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_tenant_request' %}">
                <span class="sidebar-mini"> TRT </span>
                <span class="sidebar-normal"> Tenant Request Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_contract_request' %}">
                <span class="sidebar-mini"> CRT </span>
                <span class="sidebar-normal"> Contract Request Type </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_occupancy_type' %}">
                <span class="sidebar-mini"> OT </span>
                <span class="sidebar-normal"> Occupancy Type </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
          <i class="material-icons">grid_on</i>
          <p>
            Tenant
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="tablesExamples">
          <ul class="nav">
            <!-- <li class="nav-item">
              <a class="nav-link" href="/Add_Tenant">
                <span class="sidebar-mini"> AT </span>
                <span class="sidebar-normal"> Add Tenant </span>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_tetant_contract' %}">
                <span class="sidebar-mini"> TC </span>
                <span class="sidebar-normal"> Tenant Contract </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <span class="sidebar-mini"> TC </span>
                <span class="sidebar-normal"> Review Documents </span>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="">
                <span class="sidebar-mini"> TC </span>
                <span class="sidebar-normal"> Payment </span>
              </a>
            </li> -->
          </ul>
        </div>
      </li>
      {% endif %} {% if request.user.profile.is_tenant %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_documents' request.user.username %}">
          <i class="material-icons">cloud_upload</i>
          <span class="sidebar-normal"> Upload Documents </span>
        </a>
      </li>
      <!-- TODO: Check if user documents are verified  -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'payment' request.user.username %}">
          <i class="material-icons">attach_money</i>
          <span class="sidebar-normal"> Make Payement</span>
        </a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#mapsExamples">
          <i class="material-icons">construction</i>
          <p>
            Maintenance
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="mapsExamples">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="maps/google.html">
                <span class="sidebar-mini"> GM </span>
                <span class="sidebar-normal"> Google Maps </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="maps/fullscreen.html">
                <span class="sidebar-mini"> FSM </span>
                <span class="sidebar-normal"> Full Screen Map </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="maps/vector.html">
                <span class="sidebar-mini"> VM </span>
                <span class="sidebar-normal"> Vector Map </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="/Check_List">
            <i class="material-icons">CL</i>
            <p>Check List</p>
          </a>
        </li>
      </ul>
    </ul>

    <div class="ps__rail-x" style="left: 0px; top: 0px">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 550px; left: 0px">
      <div
        class="ps__thumb-y"
        tabindex="0"
        style="top: 0px; height: 493px"
      ></div>
    </div>
  </div>
  <div class="ps__rail-x" style="left: 0px; top: 0px">
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; left: 0px">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div>
  </div>
  <div
    class="sidebar-background"
    style="background-image: url(../assets/img/faces/avatar.jpg)"
  ></div>
</div>
