{% extends 'base.html' %} {% block title %} Payment {% endblock title %} {% block body %}
<style></style>
<div class="col-md-12">
  <form
    id="payment-form"
    class="form-horizontal"
    method="post"
    novalidate="novalidate"
  >
    {% csrf_token %}
    <div class="card">
      <div
        class="card-header card-header-rose card-header-text"
        style="font-size: 20px"
      >
        <div class="card-text" style="padding-left: 1px">
          <a
            href=" {% url 'payment' request.user.username %} "
            class="card-header card-header-rose card-header-text"
          >
            <i class="material-icons">payment</i> Payment
          </a>
        </div>
      </div>

      <div class="card-body">
        {% comment %} Row1 {% endcomment %}
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><b>Select a payment method</b></h4>
            </div>
            <div class="card-body">
              <div class="row p-0">
                <div class="col-md-3.5">
                  <ul
                    class="nav nav-pills nav-pills-rose flex-column"
                    role="tablist"
                    style="background-color: rgb(245, 245, 245)"
                  >
                    <li class="nav-item">
                      <a
                        class="nav-link active show"
                        data-toggle="tab"
                        href="#link4"
                        role="tablist"
                        style="
                          border-radius: 0px;
                          height: 60px;
                          font-size: 15px;
                          padding-top: 5.126;
                          padding-top: 18px;
                        "
                      >
                        CREDIT/ DEBIT CARDS
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#link5"
                        role="tablist"
                        style="
                          border-radius: 0px;
                          height: 60px;
                          font-size: 15px;
                          padding-top: 5.126;
                          padding-top: 18px;
                        "
                      >
                        CASH
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#link6"
                        role="tablist"
                        style="
                          border-radius: 0px;
                          height: 60px;
                          font-size: 15px;
                          padding-top: 5.126;
                          padding-top: 18px;
                        "
                      >
                        NET BANKING
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#link6"
                        role="tablist"
                        style="
                          border-radius: 0px;
                          height: 60px;
                          font-size: 15px;
                          padding-top: 5.126;
                          padding-top: 18px;
                        "
                      >
                        PAYPAL/ PAYZAPP/ PAYTM
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-8">
                  <div class="tab-content">
                    <div class="tab-pane active show" id="link4">
                      <h4>CREDIT/ DEBIT CARDS</h4>
                      Card Number
                      <div class="row">
                        <!-- <label class="col-sm-2 col-form-label" for="OccupancyType">Card Number*</label> -->
                        <div class="col-sm-8">
                          <div class="form-group bmd-form-group">
                            <div id="card-element">
                              <!-- A Stripe Element will be inserted here. -->
                            </div>
                          </div>
                        </div>
                      </div>
                      Name on card*
                      <div class="row">
                        <!-- <label class="col-sm-2 col-form-label" for="OccupancyType">Card Number*</label> -->
                        <div class="col-sm-8">
                          <div class="form-group bmd-form-group">
                            <input
                              class="form-control"
                              type="text"
                              id="fullname"
                              name="fullname"
                              required="true"
                              aria-required="true"
                            />
                          </div>
                        </div>
                      </div>
                      Email*
                      <div class="row">
                        <!-- <label class="col-sm-2 col-form-label" for="OccupancyType">Card Number*</label> -->
                        <div class="col-sm-8">
                          <div class="form-group bmd-form-group">
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="email"
                              required="true"
                              aria-required="true"
                            />
                          </div>
                        </div>
                      </div>
                      <!-- Expire date* -->
                      <!-- <div class="row">
                        <div class="col-sm-2">
                          <div class="form-group bmd-form-group">
                            <input
                              class="form-control"
                              type="text"
                              id="OccupancyType"
                              placeholder="Enter date"
                              name="OccupancyType"
                              required="true"
                              aria-required="true"
                            />
                          </div>
                        </div>

                        <div class="col-sm-3">
                          <div class="form-group bmd-form-group">
                            <select
                              input
                              class="form-control"
                              type="text"
                              id="month"
                              name="month"
                              required="true"
                              aria-required="true"
                            >
                              <option selected>Select Month</option>
                              <option>2021</option>
                              <option>2022</option>
                              <option>2023</option>
                              <option>2024</option>
                              <option>2025</option>
                              <option>2026</option>
                              <option>2027</option>
                              <option>2027</option>
                              <option>2028</option>
                              <option>2029</option>
                              <option>2030</option>
                              <option>2031</option>
                              <option>2032</option>
                              <option>2033</option>
                              <option>2034</option>
                              <option>2035</option>
                              <option>2036</option>
                              <option>2037</option>
                            </select>
                          </div>
                        </div>
                      </div> -->

                      <!-- CVV* -->
                      <!-- <div class="row">
                        
                        <div class="col-sm-2">
                          <div class="form-group bmd-form-group">
                            <input
                              class="form-control"
                              type="text"
                              id="OccupancyType"
                              name="OccupancyType"
                              required="true"
                              aria-required="true"
                            />
                          </div>
                        </div>
                        <i class="material-icons">help</i>
                        <p>
                          Last three digits printed on the back of the card.
                        </p>
                      </div> -->
                    </div>
                    <div class="tab-pane" id="link5">
                      Efficiently unleash cross-media information without
                      cross-media value. Quickly maximize timely deliverables
                      for real-time schemas.
                      <br />
                      <br />Dramatically maintain clicks-and-mortar solutions
                      without functional solutions.
                    </div>
                    <div class="tab-pane" id="link6">
                      Completely synergize resource taxing relationships via
                      premier niche markets. Professionally cultivate one-to-one
                      customer service with robust ideas.
                      <br />
                      <br />Dynamically innovate resource-leveling customer
                      service for state of the art customer service.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% comment %} Row5 end {% endcomment %}
        <br />
        <button class="btn btn-rose btn-round float-right" type="Submit">
          <i class="material-icons">near_me </i> Submit
          <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </form>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  // Create a Stripe client.
  var stripe = Stripe(
    "pk_test_51I0mEFGz8qAcurV0ilVGprW4afDNoCkqdBJTJK6Rjgyuc4WBY20GRqW8pGi21QlGsKNbq4uP8Cv8Bjs7ezTJg1ST00ABvwre5y"
  );

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: "#32325d",
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: "antialiased",
      fontSize: "16px",
      "::placeholder": {
        color: "#aab7c4",
      },
    },
    invalid: {
      color: "#fa755a",
      iconColor: "#fa755a",
    },
  };

  // Create an instance of the card Element.
  var card = elements.create("card", { style: style });

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount("#card-element");

  // Handle real-time validation errors from the card Element.
  card.on("change", function (event) {
    var displayError = document.getElementById("card-errors");
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = "";
    }
  });

  // Handle form submission.
  var form = document.getElementById("payment-form");
  form.addEventListener("submit", function (event) {
    event.preventDefault();

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById("card-errors");
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById("payment-form");
    var hiddenInput = document.createElement("input");
    hiddenInput.setAttribute("type", "hidden");
    hiddenInput.setAttribute("name", "stripeToken");
    hiddenInput.setAttribute("value", token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }
</script>
{% endblock body %}
