{% extends 'base.html' %} {% block body %}
<div class="col-md-12">
  <div class="card">
    <br />
    <div class="row">
      <div class="col-sm-12 offset-0">
        <h4 class="alert alert-info">Contract Request Details</h4>
        <form
          id="TypeValidation"
          class="form-horizontal"
          novalidate="novalidate"
        >
          <div class="card-body">
            <div class="row">
              {% for field in form %}
              <label class="col-sm-2 col-form-label">{{ field.label }}*</label>

              {% if field.name == 'tenant' %}
              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <select
                    class="form-control"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  >
                    <option selected value="{{field.value}}">
                      {{tenant.user.username}}
                    </option>
                  </select>
                </div>
              </div>

              {% else %}

              <div class="col-sm-4">
                <div class="form-group bmd-form-group">
                  <input
                    class="form-control"
                    value="{{ field.value }}"
                    type="text"
                    id="{{field.id}}"
                    name="{{field.name}}"
                    required="true"
                    aria-required="true"
                    disabled
                  />
                </div>
              </div>
              {% endif %} 
              {% endfor %}

              <div class="modal-footer" style="float: right; width: 100%">
                <a
                  href="{% url 'add_contract_request' %}"
                  class="btn btn-info btn-round float-right"
                  style="margin-bottom: 20px; margin-top: 20px"
                >
                  Back
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
